@font-face {
	font-weight: 400;
	font-family: "Aeroport";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Aeroport-regular.woff2") format("woff2"),
		url("../fonts/Aeroport-regular.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "Aeroport";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Aeroport-Bold.woff2") format("woff2"),
		url("../fonts/Aeroport-Bold.woff") format("woff");
}
