@import "fonts";

*,
*::before,
*::after {
	box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
	font-size: 10px;
	line-height: 1.2;

  @include mq(custom, max, 1366) {
    font-size: 9px;
  }

  @include mq(lg) {
    font-size: 8px;
  }

  @include mq(sm) {
    font-size: 10px;
  }

  @include mq(custom, max, 310) {
    font-size: 8px;
  }
}

body {
	color: var(--color-base-dark);
  font: var(--font-text-M);
  background-color: var(--color-bg);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-rest {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;

  @include mq(custom, min, 992) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include mq(custom, min, 1200) {
    max-width: 1640px;
    padding-right: 100px;
    padding-left: 100px;
  }

  @include mq(custom, min, 1800) {
    max-width: 1960px;
    padding-right: 200px;
    padding-left: 200px;
  }
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
  margin-top: var(--header-height);
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;

  @include mq(sm) {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.button-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-family: var(--main-ff);
}

.js-focus-visible button:focus:not(.focus-visible) {
  outline: none;
}

button {
  color: inherit;
}

button:focus {
  outline: none;
}


.button {
  display: block;
  padding: 1rem 3.1rem;
  background-color: var(--color-bg);
  border-radius: 1.2rem;
  border: 1px solid var(--color-base-dark);
  font: 700 1.4rem/1.9rem var(--main-ff);
  cursor: pointer;
}

.burger-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-base-dark);
  border-radius: 0.4rem;
  flex-shrink: 0;
  cursor: pointer;

  span {
    display: block;
    width: 2.4rem;
    height: 0.1rem;
    background-color: var(--color-white);

    &:nth-child(2) {
      margin: 0.5rem 0;
    }
  }

  @include mq(sm) {
    width: 3.3rem;
    height: 3.3rem;

    span {
      width: 2rem;
    }
  }
}

.button-secondary {
  display: inline-block;
  padding: 1rem 5.3rem;
  background-color: var(--color-bg);
  border-radius: 1.2rem;
  font: var(--font-text-M);
  color: var(--color-base-dark);
  cursor: pointer;
  transition: transform var(--transition);
  text-align: center;

  &:active {
    transform: scale(0.98);
  }

  @include mq(sm) {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }
}

.accordion-body-wrapper {
  overflow: hidden;
  margin: -2rem;
  padding: 2rem;
}

._mobile {
  @include mq(sm, min) {
    display: none !important;
  }
}

._desctop {
  @include mq(sm, max) {
    display: none !important;
  }
}


.js-accordion-mobile-body-wrapper {
  overflow: hidden;
}

table {
  width: 100%;
}
