.securities-page {

  .content-container__heading {
    @include mq(sm) {
      padding-left: 0;
    }
  }

  .mod-brokers {
    table {
      tr {
        td {
          width: 50% !important;
          max-width: 100% !important;

          &:last-child {
            margin-left: 0;
          }

          @include mq(sm) {
            width: 100% !important;
          }
        }
      }
    }
  }

  .tab-mobile {
    &:not(.is-active) {
      background-color: var(--color-white);
    }
  }

  table {
    tr {
      width: auto;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--color-bg);

      &:last-child {
        padding-bottom: 0;
        border: none;
        margin-bottom: 0;
      }

      td {
        span {
          color: var(--color-base-grey);
        }

        p {
          @include mq(sm) {
            padding-bottom: 0;
            margin-bottom: 1.2rem;
            border: none;
          }
        }

        &:nth-child(1) {
          max-width: 50.4rem;

          @include mq(sm) {
            max-width: 100%;
          }
        }

        &:nth-child(2) {
          max-width: 35.5rem;

          @include mq(sm) {
            max-width: 100%;
          }
        }

        &:last-child {
          margin-left: auto;
          display: inline-block;
          width: auto;

          @include mq(sm) {
            margin-left: 0;
          }

          span {
            padding: 0.2rem 1.2rem;
            border-radius: 0.8;
            background-color: #f8f8f8;
            line-height: 2.1rem;
          }
        }
      }
    }
  }

  ul {
    width: 100%;

    li {
      display: flex;
      align-items: center;

      @include mq(sm) {
        margin-bottom: 1.2rem !important;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1.2rem !important;
        margin-bottom: 1.2rem !important;
      }

      &:last-child {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        border: none !important;
      }

      span {
        display: block;
        padding: 0.2rem 1.2rem;
        border-radius: 0.8;
        background-color: #f8f8f8;
        line-height: 2.1rem;
        margin-left: auto;
        flex-shrink: 0;

        @include mq(sm) {
          margin-left: 0;
          margin-top: 1.2rem;
        }
      }

      a {
        text-decoration: underline;
        max-width: 85.9rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
