extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Раскрытие информации для регулятивных целей"
	- const siteLang = "ru"

block content
	include pages/disclosure/main.pug
