extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Информация о процентных ставках по договорам банковского вклада с физическими лицами"
	- const siteLang = "ru"

block content
	include pages/interest-rates/main.pug
