extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Раскрытие информации Банком – профессиональным участником рынка ценных бумаг"
	- const siteLang = "ru"

block content
	include pages/securities/main.pug
