.menu.js-menu
  .menu__container.js-menu-container
    button.button-reset.menu__btn.js-close-menu
      span
      span
    ul
      li
        a(href="./contacts.html") Контакты
      li
        a(href="./disclosure.html") Раскрытие информации для регулятивных целей
      li
        a(href="./interest-rates.html") Информация о процентных ставках по договорам банковского вклада с физическими лицами
      li
        a(href="./licenses.html") Лицензии и членство в ассоциациях
      li
        a(href="./report.html") Отчетность
      li
        a(href="./requisites.html") Реквизиты Бланка
