.requisites-page {
  table {
    margin-bottom: 5.2rem;

    @include mq(sm) {
      margin-bottom: 0;
    }

    tr {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--color-bg);

      &:last-child {
        margin-bottom: 0;

        @include mq(sm) {
          padding-bottom: 0;
          border-bottom: none;
        }
      }

      @include mq(sm) {
        gap: 0.8rem;
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }

    td {
      span {
        color: var(--color-base-grey);
      }
    }
  }


  a {
    margin-bottom: 3.2rem;
  }

  .mobile-accordion__body {
    @include mq(sm, min) {
      padding-top: 0;
    }

    @include mq(sm) {
      h2 {
        display: none;
      }
    }
  }

  @include mq(sm) {
    .tab__content {
      display: block !important;
      margin-top: 1.2rem;
    }
  }
}
